@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f5f5f5;
  font-family: 'Inter', sans-serif;
}


.auth-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}


.auth-image {
  flex: 1;
  overflow: hidden;
}

.auth-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.auth-form {
  font-family: inherit;
  flex: 1;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center; 
}




.form-container {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.form-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-style: bold;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
}

.subtitle {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
     text-align: center;
  color: #000000;
  margin-bottom: 1.5rem;
}




.google-btn {
  width: 100%;
  height: 50px;
  padding: 0.9rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #cfcdcd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 700;
}
.google-btn p{
    color: #0788FF
}
.google-btn p:hover{
    color: white;
}
.google-btn:hover {
    background-color: black;
}

.google-btn img {
  width: 18px;
}




.divider {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #e5e5e5;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

label {
  font-size: 0.85rem;
  color: #757575;
  font-weight: 700;
}

input {
  padding: 0.8rem;
  border:1px, solid, #c6c2c2;
  border-radius: 6px;
  outline: none;
  background-color: #cecece;
}

input:focus {
  border-color: #1a73e8;
}


.signup-btn {
    align-items: center;
  margin-top: 1rem;
  margin: 1.2rem auto 0 auto;
  width: 150px;
  padding: 0.9rem;
  border: none;
  border-radius: 23px;
  background: #1a73e8;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.signup-btn:hover {
  background: #010102;
}

/* Sign In Text */
.signin-text {
  margin-top: 1.2rem;
  font-size: 0.85rem;
  text-align: center;
  color: #757575;
}

.signin-text a{
    font-style: bold;
    font-weight: 700;
  color: #757575;
  text-decoration: none;
  
}
.signin-text a:hover{
    color:#0788FF;
}

.password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-password {
  font-size: 0.7rem;
  color: #757575;
  font-style: light;
  text-decoration: none;
  font-weight: 600;
}

.forgot-password:hover {
  text-decoration: underline;
  color: #1a73e8;
}



/* Responsive */
@media (max-width: 900px) {
  .auth-image {
    display: none;
  }

  .auth-form {
    flex: 1;

    .form-container {
      padding: 1.5rem;
      padding-top: 5px;
    }
}
}

@media (max-width: 1024px) {



  .auth-form {
    flex: 1;
}

}