@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #ffffff;
  color: #222;
  font-family: 'Inter', sans-serif;
}

/* HERO SECTION */
.hero {
    width: 100%;
  height: 702px;
  background:
    linear-gradient(
      rgba(0, 90, 180, 0),
      rgba(0, 90, 180, 0.75)
    ),
    url("assets/hero.png") center/cover no-repeat;
  position: relative;
  padding-bottom: 8rem;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.logo {
  color: #fff;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0%;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.nav-links a {
font-family: "Inter", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
}

.btn-signin {
  background: #1185ff;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.9rem;
}

/* HERO CONTENT */
.hero-content {
  padding: 4rem;
  max-width: 700px;
}

.hero-content h1 {
  color: #fff;
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
  font-size: 64px;
  font-family: 'Inter', sans-serif;
  /* border: 2px, solid, white; */
  margin-top: 80px;
  margin-bottom: 112px;
}

/* SEARCH CARD */
.search-card {
    font-family: 'Inter', sans-serif;
  background: #FFFFFF;
  width: 80%;
  margin-top: 122px;
  /* margin: 0 auto; */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4rem;
}

.search-card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.search-card p {
  font-size: 0.9rem;
  color: #959595;
  margin-bottom: 1.5rem;
}

.search-fields {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.field label {
  font-size: 0.8rem;
  color: #555;
  margin-bottom: 0.4rem;
}

.field input {
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
}
.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper img {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  opacity: 0.6;
  pointer-events: none;
}

.input-wrapper input {
  width: 100%;
  padding: 0.8rem 0.8rem 0.8rem 2.7rem;
}

.search-btn {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background: #1185ff;
  color: #fff;
  border: none;
  padding: 0.9rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
}

.search-btn img {
  width: 16px;
}
/* WHY CHOOSE US */
.why {
    
    margin-left: 128px;
    margin-right: 128px;
  margin-top: 8rem;
  padding: 4rem;
  text-align: center;
  justify-content: center;
}

.why h2 {
    font-family: "Inter", sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #333;
}

.why-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.why-card {
  background: #fff;
  font-family: "Inter", sans-serif;
  padding: 2.5rem 2rem;
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

.why-card img {
  width: 45px;
  margin-bottom: 1rem;
}

.why-card h4 {
    font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}

.why-card p {
    font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  color: #777;
  line-height: 1.5;
}

/* Our Hotels Section */

.our-hotels {
    height: 759px;
}
.hotels {
  margin: 0 82px 155px;
  display: flex;
  flex-direction: column;
  height: 709px;
}

/* top row */
.hotels-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3rem;
  
}

.hotel-title {
    margin-left: 10px;
  max-width: 600px;
}

.hotel-title h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hotel-title p {
  color: #989898;
  line-height: 1.5;
}

/* button */
.view-more {
    font-family: "Inter", sans-serif;
    margin-top: 22px;
    margin-right: 10px;
  padding: 0.8rem 2.4rem;
  border: 2px solid #1185ff;
  border-radius: 5px;
  color: #1185ff;
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;

}
.hotel-card{
    border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.hotel-card img {
  width: 100%;
  height: 200px;          
  object-fit: cover;     
  display: block;
}

.hotel-card h3{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 8px;
    padding-left: 8px;
}

.hotel-card p{
    font-family: "Inter", sans-serif;
    padding-left: 8px;
}



.hotel-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  
}

.stars {
  color: #f5b301; 
  font-size: 1rem;
  margin-top: 0.3rem;
  letter-spacing: 2px;
  padding-left: 8px;
  margin-bottom: 8px;
}

.hotel-grid2{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  margin-top: 20px;
}

/* Responsiveness  */
@media (max-width: 900px) 
{
.nav-links {
    display: none;

}

.why-cards{

}
}